.heading {
  font-size: 15px;
}

.value {
  font-size: 15px;
}

.masterRow {
  display: flex;
  flex-direction: row;
  flex: 1;
  justify-content: space-evenly;
  align-items: center;
  padding: 0px 0px;
}

.childRow {
  display: flex;
  flex-direction: row;
  flex: 1;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;
}

.input {
  width: 100px;
  height: 30px;
  font-size: 15px;
}
