@use "sass:map";
/* default theme is set in file `styles/theme.ts`
 * all the themes must have all colors options as every one else
 * all these colors variables should be added to `themeVariables.module.scss`export and `themeVariables.d.ts` type
 *
 * while adding new theme make sure you add it to `RootThemes_e` in `theme.ts` file
 */

$themes: (
  light: (
    styles: (
      "opacity": 1,
    ),
    colors: (
      "body-bg": #eef4f8,
      "primary-color-dark": #fbfdff,
      "primary-color-light": #dfe9f2,
      "border-color": #c2d2df,
      "text-color": #14202b,
      "subtle-text": #617487,
      "highlighted-border": #2d7fb5,
    ),
  ),
  dark: (
    styles: (
      "opacity": 1,
    ),
    colors: (
      "body-bg": #0c1722,
      "primary-color-dark": #13212e,
      "primary-color-light": #1d3244,
      "border-color": #345067,
      "text-color": #edf6ff,
      "subtle-text": #8ea9bf,
      "highlighted-border": #58b7ff,
    ),
  ),
);

@each $theme-name, $theme in $themes {
  $colors: map.get($theme, colors);
  $styles: map.get($theme, styles);

  /* Select the :root element when the data-theme attribute matches the theme name */
  :root[data-theme="#{$theme-name}"] {
    --current-theme: #{$theme-name};
    @each $prop, $color in $colors {
      /* Define the CSS custom properties (variables) */
      --#{$prop}: #{$color};
    }
  }

  /** use these as selectors to configure theme elements where attribute and css variables cannot apply 
  * For example:
  *  :global(.darkTheme) .some-class {
  *    color: #848e9c;
  *    }
  *
  *  :global(.lightTheme) .some-class {
  *    color: #848e9c;
  *    }
  */
  .#{$theme-name} {
    @each $prop, $value in $styles {
      #{$prop}: #{$value};
    }
  }
}
