/* default theme is dark 
 * NOTE every variable added in root theme should also be present in `themeVariables.module.scss` and `themeVariables.d.ts`
 */
:root {
  --body-bg: #161a21;
  --primary-color-dark: #161a21;
  --primary-color-light: #222730;
  --text-color: #d1d4dc;
  --border-color: #333942;
  --subtle-text: #777777;
}

[data-theme="light"] {
  --body-bg: #f8f9fa;
  --primary-color-dark: #ffffff;
  --primary-color-light: #f1f1f1;
  --text-color: #000000;
  --border-color: #eeeeee;
  --subtle-text: #848e9c;
}
