.wrapper {
  width: 100%;
  //background-color: red;
  margin: 20px 0px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-end;
}

.symbolInput {
  min-height: 40px;
  min-width: 60px;
  max-width: 200px;
  font-size: 15px;
}

.searchButton {
  min-width: 44px;
}

@media (min-width: 576px) {
  .wrapper {
    align-items: center;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;
  }
}
